html
{
    height: 100% ;
}


body
{
    font-size: 12pt;
    line-height: 1.8em;
    font-family: Arial, sans-serif;
    color: #656565;
    height: 100%;
    width: 100%
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
}

#gui {
    background-image: url(../img/homebody_splash_page.png); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%
    /* height: 768px;  */
    /* width: 1365px; */
}

#left_bar {
    position: absolute;
    /* top: 10px; */
    /* left: 45%; */
    left: 0px;
    width: 100%;
    height: 100%
}


#pttButton {
    position: absolute;
    font-size: 22px;
    z-index: 1;
    border-radius: 100%;
    border: 3px solid black;
    width: 140px;
    height: 140px;

    bottom: 20px;
    left: 0px;
    right: 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
}

