{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Homebody Dialog System</title>
    
    <script type="text/javascript" src="{% static "homebody_app/js/eventemitter2.js" %}"></script>
    <script type="text/javascript" src="{% static "homebody_app/js/roslib.js" %}"></script>
    
    
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    
    <script type="text/javascript" src="{% static "homebody_app/js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "homebody_app/js/homebody.js" %}"></script>
    <script type="text/javascript" src="{% static "homebody_app/js/recorder.js" %}"></script>
    <script type="text/javascript" src="{% static "homebody_app/js/main2.js" %}"></script>
    <script type="text/javascript">
     var static_root = "{% static "" %}"
     console.log("static root:" + static_root)

     var disable_ptt_interval_id = setInterval(function(){
	 console.log("interval tick for disabling push-to-talk")
	 if (connected_to_ros){
	     console.log("disabling ptt")
	     disable_push_to_talk()
	     clearInterval(disable_ptt_interval_id)
	 }
     })
    </script>
    <link rel="stylesheet" href="{% static "homebody_app/css/homebody_style.css" %}">
    
  </head>
  <body>
    
    <div id="gui">
	<div id="left_bar">
	    <div id="order_state" style="position: absolute; height: 100%; width: 100%"></div>
	    <div id="pttButton" onclick="onPttButtonClick()">Push to Talk</div>
	</div>
    </div>
    
  </body>
</html>
