{% load staticfiles %}
<!DOCTYPE html>
<meta charset="utf-8">
<title>Homebody</title>
<head>
  <script type="text/javascript">
    var data_path = "{% static "homebody_app/" %}"
  </script>
  <link rel="stylesheet" href="{% static "homebody_app/css/hw_test_style.css" %}">
</head>

<h1>Homebody Research Dialog System</h1>

<p>
Welcome to the Homebody research spoken dialog system!
Before you get started, we have a few quick reminders:
</p>

<ul>
    <li>If your browser asks for permission to use your microphone, say yes.</li>
    <li>Turn on your speakers to medium volume so you can hear our system talk to you</li>
    <li>Turn on your microphone to medium volume so our system can hear you</li>
    <li>Feel free to plug in a headset microphone, especially if you're in a noisy space</li>
    <li>For now, this demo only works in Chrome.</li>
</ul>

<p>
We also have a few privacy notices:
</p>

<ul>
    <li>We will record audio of your entire interaction with our dialog system. We will not keep any other personal identifying information about you.</li>
    <li>By proceeding to the demo, you agree that this is ok, and grant Carnegie Mellon University permission to use this audio however we want, so long as is legal.</li>
    <li>We intend to use this data for development and evaluation of our dialog systems.</li>
</ul>


<a href="0/createticket">Homebody Spoken Dialog System With Automatic Voice Activity Detection</a><br>

<script type="text/javascript" src="{% static "homebody_app/js/verify_chrome.js" %}"></script>
<script type="text/javascript"  src="{% static "homebody_app/js/hw_test.js" %}"></script>

