<h1>Status</h1>

<head>
<script type="text/javascript">
function ping(){
location.reload(true)
}

window.setTimeout(ping, 1000)

</script>
</head>

<p>
Podium system status page.
</p>

<p>
The dialog backend is currently
{% if backend_spinning_up %}
    spinning up.
{% elif backend_occupied %}
    occupied with another visitor.
{% elif backend_running %}
    ready for its next visitor.
{% else %}
    down.
{% endif %}
</p>

<p>
There are currently <strong>{{ line_length }}</strong> people in line.
</p>

